.body {
    font-family: "if-font";
    src: url("if-bold.woff") format('woff');
}

.last {
    color: rgb(21, 108, 180);
    font-size: 100px;
}

.maintitle {
    color: rgb(121, 200, 13);
    font-size: 100px;
}

.subtitle {
    color: rgb(222, 59, 24);
    font-size: 100px;
}

.span-5   { 
    font-family: "if-hand-font";
    src: url("if-hand.woff") format('woff');
}
.span-10  { width: 10% !important }
